body {
    font: 20px arial, sans-serif;
}

.navbar {
    background-color: #7ecfc3;
}

.quem-somos {
    background-color: #c29de6;
    color: white;
}

.margin {
    padding-top: 30px;
    padding-bottom: 30px;
}

.parceiros {
    background-color: rgb(233, 166, 85);
}

.bg-footer {
    background-color: black;
    color: white;
}



